 .u-section-1 {
  background-image: url("images/gradient_bg1.jpg");
  background-position: 50% 50%;
  min-height: 694px;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 89px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 445px;
  height: 407px;
  filter: brightness(0.9);
  margin: 63px calc(((100% - 1140px) / 2) + 74px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 700;
  margin: -319px auto 0 calc(((100% - 1140px) / 2) + 74px);
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  margin: -38px auto 0 calc(((100% - 1140px) / 2) + 92px);
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 0px 0px 40px rgba(157,61,253,0.5);
  margin: -17px auto 0 calc(((100% - 1140px) / 2) + 74px);
}

.u-section-1 .u-text-4 {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 500;
  margin: -5px calc(((100% - 1140px) / 2) + 640px) 0 calc(((100% - 1140px) / 2) + 74px);
}

.u-section-1 .u-btn-1 {
  font-family: Poppins;
  font-weight: 500;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 19px auto 0 calc(((100% - 1140px) / 2) + 74px);
}

.u-section-1 .u-btn-2 {
  font-family: Poppins;
  font-weight: 600;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: -35px auto 60px calc(((100% - 1140px) / 2) + 313px);
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 572px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 209px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 174px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 174px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 192px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 174px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 243px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 174px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 213px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 438px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 284px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 284px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 302px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 284px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 430px);
    margin-left: calc(((100% - 1140px) / 2) + 353px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 284px);
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 329px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 359px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 374px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 392px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 374px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 443px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 374px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 835px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 311px;
    margin-top: 45px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 45px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: calc(((100% - 340px) / 2) + 18px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: -8px;
    margin-right: calc(((100% - 340px) / 2) + 24px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin: -35px calc(((100% - 340px) / 2) + 41px) 70px auto;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-radius: 10px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-radius: 10px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  color: #808080 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  color: #808080 !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
  min-height: 468px;
}

.u-section-2 .u-line-1 {
  transform-origin: right center 0px;
  position: absolute;
  top: 468px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 35px auto 0 calc(((100% - 1140px) / 2) + 481px);
}

.u-section-2 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 467px);
}

.u-section-2 .u-group-1 {
  width: 234px;
  min-height: 247px;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 38px auto 0 calc(((100% - 1140px) / 2) + 74px);
}

.u-section-2 .u-container-layout-1 {
  padding: 26px 30px;
}

.u-section-2 .u-image-1 {
  width: 34px;
  height: 34px;
  margin: 0 140px 0 0;
}

.u-section-2 .u-text-3 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-family: Poppins;
  font-size: 0.9375rem;
  margin: 0;
}

.u-section-2 .u-group-2 {
  width: 234px;
  min-height: 247px;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -247px auto 0 calc(((100% - 1140px) / 2) + 328px);
}

.u-section-2 .u-container-layout-2 {
  padding: 25px 0;
}

.u-section-2 .u-image-2 {
  width: 34px;
  height: 34px;
  margin: 2px auto 0 21px;
}

.u-section-2 .u-text-5 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 9px auto 0 21px;
}

.u-section-2 .u-text-6 {
  font-family: Poppins;
  font-size: 0.9375rem;
  margin: 0 21px;
}

.u-section-2 .u-group-3 {
  min-height: 247px;
  height: auto;
  width: 234px;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -247px calc(((100% - 1140px) / 2) + 327px) 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 27px 0 24px;
}

.u-section-2 .u-image-3 {
  width: 34px;
  height: 34px;
  margin: 0 auto 0 21px;
}

.u-section-2 .u-text-7 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 9px auto 0 21px;
}

.u-section-2 .u-text-8 {
  font-family: Poppins;
  font-size: 0.9375rem;
  margin: 0 21px;
}

.u-section-2 .u-group-4 {
  min-height: 247px;
  height: auto;
  width: 234px;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -247px calc(((100% - 1140px) / 2) + 74px) 52px auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 27px 21px;
}

.u-section-2 .u-image-4 {
  width: 34px;
  height: 34px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-family: Poppins;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 9px auto 0 0;
}

.u-section-2 .u-text-10 {
  font-family: Poppins;
  font-size: 0.9375rem;
  margin: 0;
}

.u-section-2 .u-line-2 {
  transform-origin: right center 0px;
  position: absolute;
  top: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 470px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 397px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 385px);
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 74px);
    height: auto;
  }

  .u-section-2 .u-text-3 {
    font-weight: normal;
  }

  .u-section-2 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2) + 328px);
    height: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 327px);
    height: auto;
  }

  .u-section-2 .u-group-4 {
    margin-right: calc(((100% - 940px) / 2) + 74px);
    height: auto;
  }

  .u-section-2 .u-line-2 {
    height: 1px;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 737px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 304px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 295px);
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 74px);
  }

  .u-section-2 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2) + 328px);
  }

  .u-section-2 .u-group-3 {
    margin-right: calc(((100% - 720px) / 2) + 327px);
  }

  .u-section-2 .u-group-4 {
    margin-right: calc(((100% - 720px) / 2) + 74px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 228px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 221px);
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 74px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2) + 306px);
  }

  .u-section-2 .u-group-3 {
    margin-right: calc(((100% - 540px) / 2) + 306px);
  }

  .u-section-2 .u-group-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2) + 74px);
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1287px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-left: 122px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 264px;
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 25px 15px 25px 25px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 26px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin: 1px 1px -1px;
  }

  .u-section-2 .u-group-2 {
    min-height: 248px;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-left: 26px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 10px;
    margin-left: 27px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 19px;
    margin-left: 25px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 27px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 26px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 27px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 1px;
    margin-right: 13px;
    margin-left: 28px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 49px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
  }
}

.u-section-2 .u-group-1,
.u-section-2 .u-group-1:before,
.u-section-2 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-1.u-group-1.u-group-1:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 5px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-group-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-group-1.u-group-1.u-group-1.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 5px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-group-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-2,
.u-section-2 .u-group-2:before,
.u-section-2 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-2.u-group-2.u-group-2:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 5px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-group-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-group-2.u-group-2.u-group-2.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 5px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-group-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-3,
.u-section-2 .u-group-3:before,
.u-section-2 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-3.u-group-3.u-group-3:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 5px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-group-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-group-3.u-group-3.u-group-3.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 5px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-group-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-4,
.u-section-2 .u-group-4:before,
.u-section-2 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-4.u-group-4.u-group-4:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 5px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-group-4 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-group-4.u-group-4.u-group-4.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 5px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-group-4 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: url("images/gradient_bg1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 35px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-3 .u-group-1 {
  width: 334px;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  min-height: 447px;
  height: auto;
  margin: 51px auto 0 225px;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.5625rem;
  margin: 4px auto 0;
}

.u-section-3 .u-line-1 {
  width: 275px;
  transform-origin: right center 0px;
  margin: 7px auto 0;
}

.u-section-3 .u-text-4 {
  font-family: Poppins;
  font-size: 0.875rem;
  margin: 17px 19px 0 28px;
}

.u-section-3 .u-line-2 {
  width: 275px;
  transform-origin: right center 0px;
  position: absolute;
  top: 147px;
}

.u-section-3 .u-text-5 {
  font-family: Poppins;
  font-size: 1rem;
  line-height: 2;
  margin: 38px 23px 0;
}

.u-section-3 .u-icon-1 {
  margin-right: 2px;
}

.u-section-3 .u-icon-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.u-section-3 .u-icon-3 {
  margin-left: 2px;
  margin-right: 2px;
}

.u-section-3 .u-icon-4 {
  margin-left: 2px;
  margin-right: 2px;
}

.u-section-3 .u-line-3 {
  width: 275px;
  transform-origin: right center 0px;
  position: absolute;
  top: 318px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.5625rem;
  margin: 35px auto 0 28px;
}

.u-section-3 .u-text-7 {
  font-family: Poppins;
  font-size: 0.875rem;
  margin: -31px -46px 0 93px;
}

.u-section-3 .u-btn-1 {
  font-family: Poppins;
  font-weight: 500;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 0.875rem;
  margin: 9px auto 0 28px;
}

.u-section-3 .u-group-2 {
  width: 334px;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  min-height: 447px;
  height: auto;
  margin: -446px 219px 60px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.5625rem;
  margin: 5px auto 0;
}

.u-section-3 .u-line-4 {
  width: 275px;
  transform-origin: right center 0px;
  margin: 6px auto 0;
}

.u-section-3 .u-text-9 {
  font-family: Poppins;
  font-size: 0.875rem;
  margin: 17px 19px 0 28px;
}

.u-section-3 .u-line-5 {
  width: 275px;
  transform-origin: right center 0px;
  position: absolute;
  top: 147px;
}

.u-section-3 .u-text-10 {
  font-family: Poppins;
  font-size: 1rem;
  line-height: 2;
  margin: 38px 23px 0;
}

.u-section-3 .u-icon-5 {
  margin-right: 2px;
}

.u-section-3 .u-icon-6 {
  margin-left: 2px;
  margin-right: 2px;
}

.u-section-3 .u-icon-7 {
  margin-left: 2px;
  margin-right: 2px;
}

.u-section-3 .u-icon-8 {
  margin-left: 2px;
  margin-right: 2px;
}

.u-section-3 .u-line-6 {
  width: 275px;
  transform-origin: right center 0px;
  position: absolute;
  top: 318px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.5625rem;
  margin: 35px auto 0 28px;
}

.u-section-3 .u-text-12 {
  font-family: Poppins;
  font-size: 0.875rem;
  margin: -31px -46px 0 93px;
}

.u-section-3 .u-btn-2 {
  font-family: Poppins;
  font-weight: 500;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 0.875rem;
  margin: 9px auto 0 28px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-3 .u-group-2 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-top: 20px;
    height: auto;
  }

  .u-section-3 .u-btn-2 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    margin-left: 206px;
  }

  .u-section-3 .u-group-2 {
    margin-right: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1188px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-3 .u-group-2 {
    margin-right: auto;
    margin-bottom: 59px;
  }
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before,
.u-section-3 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-1.u-group-1.u-group-1:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 10px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-group-1 {
  border-style: solid !important;
}

.u-section-3 .u-group-1.u-group-1.u-group-1.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 10px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-group-1 {
  border-style: solid !important;
}

.u-section-3 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-radius: 10px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-radius: 10px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-2,
.u-section-3 .u-group-2:before,
.u-section-3 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-2.u-group-2.u-group-2:hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 10px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-group-2 {
  border-style: solid !important;
}

.u-section-3 .u-group-2.u-group-2.u-group-2.hover {
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #9d3dfd !important;
  box-shadow: 0px 0px 25px 0px rgba(157,61,253,0.5) !important;
  border-radius: 10px !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-group-2 {
  border-style: solid !important;
}

.u-section-3 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-2,
.u-section-3 .u-btn-2:before,
.u-section-3 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-radius: 10px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-btn-2.u-btn-2.u-btn-2:hover:before {
  background-color: transparent !important;
}

.u-section-3 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-radius: 10px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 35px auto 0 calc(((100% - 1140px) / 2) + 466px);
}

.u-section-4 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 474px);
}

.u-section-4 .u-slider-1 {
  min-height: 402px;
  height: auto;
  width: 1140px;
  margin: 30px auto 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-video-1 {
  width: 520px;
  height: 293px;
  margin: 0 auto;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-4 .u-image-1 {
  width: 369px;
  height: 315px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-4 .u-image-2 {
  width: 369px;
  height: 342px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-4 .u-image-3 {
  width: 391px;
  height: 342px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-4 .u-image-4 {
  width: 391px;
  height: 346px;
  margin: 0 auto;
}

.u-section-4 .u-carousel-control-1 {
  width: 58px;
  height: 58px;
  background-image: none;
  padding: 19px;
}

.u-section-4 .u-carousel-control-2 {
  width: 58px;
  height: 58px;
  background-image: none;
  left: auto;
  position: absolute;
  top: 163px;
  right: 0;
  padding: 19px;
}

.u-section-4 .u-line-1 {
  transform-origin: right center 0px;
  position: absolute;
  top: 622px;
}

.u-section-4 .u-line-2 {
  transform-origin: right center 0px;
  position: absolute;
  top: 1px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-line-1 {
    margin-top: 0;
  }

  .u-section-4 .u-line-2 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-line-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 511px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: auto;
  }

  .u-section-4 .u-slider-1 {
    min-height: 333px;
    width: 340px;
    margin-bottom: 17px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-4 .u-video-1 {
    width: 320px;
    height: 180px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 273px;
  }

  .u-section-4 .u-image-2 {
    width: 320px;
    height: 297px;
  }

  .u-section-4 .u-image-3 {
    width: 320px;
    height: 280px;
  }

  .u-section-4 .u-image-4 {
    width: 320px;
    height: 283px;
  }

  .u-section-4 .u-carousel-control-1 {
    width: 48px;
    height: 48px;
    left: -15px;
    top: 92px;
    position: absolute;
    right: auto;
    padding: 15px;
  }

  .u-section-4 .u-carousel-control-2 {
    width: 48px;
    height: 48px;
    top: 92px;
    right: -13px;
    padding: 15px;
  }
} .u-section-5 {
  background-image: url("images/gradient_bg1.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 405px;
}

.u-section-5 .u-image-1 {
  width: 349px;
  height: 349px;
  margin: 28px 74px 0 auto;
}

.u-section-5 .u-text-1 {
  font-family: Poppins;
  font-size: 2.1875rem;
  font-weight: 700;
  margin: -257px auto 0 74px;
}

.u-section-5 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1px auto 0 74px;
}

.u-section-5 .u-btn-1 {
  font-family: Poppins;
  font-weight: 500;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 31px auto 120px 74px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-5 .u-image-1 {
    height: 340px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: 59px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 60px;
    margin-left: 0;
  }
}

.u-section-5 .u-btn-1,
.u-section-5 .u-btn-1:before,
.u-section-5 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-radius: 10px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  border-radius: 10px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: none;
  min-height: 625px;
}

.u-section-6 .u-line-1 {
  transform-origin: right center 0px;
  position: absolute;
  top: 1px;
}

.u-section-6 .u-text-1 {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 35px auto 0 calc(((100% - 1140px) / 2) + 529px);
}

.u-section-6 .u-text-2 {
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 426px);
}

.u-section-6 .u-accordion-1 {
  width: 993px;
  margin: 49px calc(((100% - 1140px) / 2) + 74px) 60px auto;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-family: Poppins;
  font-weight: 600;
  padding: 30px 20px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 65px;
  background-image: none;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  font-family: Poppins;
  font-weight: 600;
  padding: 30px 20px;
}

.u-section-6 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 65px;
  background-image: none;
  height: auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-accordion-link-3 {
  background-image: none;
  font-family: Poppins;
  font-weight: 600;
  padding: 30px 20px;
}

.u-section-6 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 65px;
  background-image: none;
  height: auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-line-2 {
  transform-origin: right center 0px;
  position: absolute;
  top: 623px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-line-1 {
    height: 1px;
    margin-top: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 436px);
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 351px);
  }

  .u-section-6 .u-accordion-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-line-2 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 334px);
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 269px);
  }

  .u-section-6 .u-accordion-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 251px);
  }

  .u-section-6 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 202px);
  }

  .u-section-6 .u-accordion-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: auto;
  }

  .u-section-6 .u-accordion-1 {
    width: 340px;
    margin-top: 48px;
    margin-right: calc(((100% - 340px) / 2));
  }
}